p {
  color: white;
}

.red {
  /* display: inline-block; */
  display: block;
  width: 200px;
  height: 200px;
  background-color: red;
}

.green {
  /* display: inline-block; */
  display: block;
  width: 200px;
  height: 200px;
  background-color: green;
}

.blue {
  /* display: inline-block; */
  display: block;
  width: 200px;
  height: 200px;
  background-color: blue;
}
